<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="404.css">
</head>
<body>
<div id="container">
    <div id="error-container">
        <img src="thunder.svg" id="icon">
        <h1>404</h1>
        <p>No encontramos la página que buscabas</p>
    </div>
    <div>
        Icons made by
        <a href="https://www.freepik.com" title="Freepik">Freepik</a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
</div>
</body>
</html>