.forgot-password-container{
  background-color: #FFFFFF;
  border-radius: 2rem;
  padding: 7px 50px 50px 50px;
  max-width: 840px;
  max-height: 645px;
  margin: auto;
  box-shadow: -2px 3px 8px 2px #01010133;
}

.link-design{
  text-decoration: none;
  &:hover{
    color: #FFFFFF;
  }
}
